Support issuance and verification for SD-JWT

This is issue is already being tracked in the remote upstream https://github.com/EWC-consortium/eudi-wallet-oidc-android/issues/1, but creating a copy in the downstream to track progress internally.

### Reference links

1. RFC-001 - [Issue Verifiable Credentials Workflow](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md)
2. RFC-002 - [Present Verifiable Credentials Workflow](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc002-present-verifiable-credentials.md)
3. RFC-100 - [EWC Interoperability Profile Towards ITB - v1.0](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc100-interoperability-profile-towards-itb-v1.0.md)